:root {
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --background-ani-color: url('/img/gradient-random.webp');
    --page-margin: 4em;
    --top-bottom-projects-margin: 8em;
    --project-size: 12em;
    --link-boarder-width: 3px;
}

header {
    flex: 1;
    z-index: 1;
    text-align: center;
    margin: auto;
    /* filter: url(#svg-colored-shadow); */
    z-index: 1;
    order: 2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.logo .logo-video {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

}


.brand .title {
    line-height: 1.5em;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    background-image: var(--background-ani-color);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
}

.brand {
    min-height: 24em;
    /* animation: bob 10s ease infinite; */
    filter: drop-shadow();
}

body {
    font-family: 'Montserrat', var(--font-family-sans-serif);
    color: white;
    margin: 0;
    width: 100vw;
    /* height: 100vh; */
    background: #424242;
    overflow-x: hidden;
    /* font-family: 'Space Mono', var(--font-family-sans-serif); */
    margin: 0;
}

.container {
    width: calc(100vw - (var(--page-margin) * 2));
    min-height: calc(100vh - (var(--page-margin) * 2));
    background: black;
    padding: var(--page-margin);
    position: absolute;
    margin: 0;
}



.background {
    position: absolute;
    z-index: 0;
    width: calc(100vw - (var(--page-margin) * 2));
    height: calc(100% - (var(--page-margin) * 2));
    filter: sepia(0.5)  hue-rotate(130deg);
    background: url('/img/background-o.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 80px black;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    position: absolute;
    z-index: 1;
    bottom: 1.3em;
    font-size: 1em;
    left: 0;
    width: 100%;
    text-align: center;
    color: #b9d2d2;
}

.project {
    color: white;
    max-width: 400px;
    width: 400px;
    height: var(--project-size);
    margin: 0 1em;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    text-align: right;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d;
    box-shadow: none;
    transition: 0.5s ease;
    /* filter: invert(1); */
}



.project .project-bg {
    height: 100%;
    width: 100%;
    background-size: 110%;
    background-position: center;
    filter: contrast(1.5) brightness(0.5) grayscale(1);
    transition: 0.5s ease all;
    position: absolute;
}
.project .project-title {
    position: absolute;
    height: 80%;
    width: 90%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5%;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    word-spacing: -0.2em;
    transform: translateZ(0px);
    transition: 0.5s ease all;
}

.project .project-description {
    position: relative;
    display: none;
}

.background-blur {
    position: fixed;
    /*z-index: 0;*/
    filter: brightness(0.5) blur(20px);
    background-image: url('/img/background-o.webp');
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(1.1);
    background-position: center;
    background-size: cover;
}

.project:hover .project-bg {
    background-size: 100%;
    /* filter: contrast(1.5) brightness(0.3) grayscale(1); */
    background-position-y: calc(50% + 10px);
}

.project:hover .project-title {
    transform: translateY(-10px) translateZ(-20px);
}



.project .project-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background-ani-color);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
    mix-blend-mode: color;
    /*filter: blur(27px);*/
    transform: scale(4);
    opacity: 0.5;
}


@keyframes bob {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.projects-wrapper {
    z-index: 2;
    margin: 2rem 0;
}

.projects-wrapper.top {order: 1;}

.projects-wrapper.bottom {order: 3;}


.project:nth-of-type(1) .project-bg-overlay {background-position: top left;}
.project:nth-of-type(2) .project-bg-overlay {background-position: top center;}
.project:nth-of-type(3) .project-bg-overlay {background-position: top right;}
.project:nth-of-type(4) .project-bg-overlay {background-position: bottom left;}
.project:nth-of-type(5) .project-bg-overlay {background-position: bottom right;}

.content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (var(--page-margin) * 2));
}

a.sitelink {
    display: inline-block;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    margin: 1em;
    padding: 0.3em 0.5em;
    padding-right: 0.1em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    word-spacing: -0.2em;
    border: var(--link-boarder-width) solid #ffffff;
    user-select: none;
}

a.external-link {
   border:none;

}

.internal-links-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.external-links-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.external-link-border {
    /*
    This horrendous piece of css garbage makes the center colour image
    flow through the border of the external links.
    I really wish their was a f**king background-clip: border;
    */
    background-image: var(--background-ani-color);
    background-attachment: fixed;
    background-size: 100vw 100vh;

    height: calc(100% - 2em - calc(var(--link-boarder-width) * 2));
    width: calc(100% - 2em - calc(var(--link-boarder-width) * 2));
    left: calc(1em + var(--link-boarder-width));
    top: calc(1em + var(--link-boarder-width));

    position:absolute;
    
    clip-path: polygon(
        0% 0%,
        calc(100% - var(--link-boarder-width)) 0%,
        calc(100% - var(--link-boarder-width)) var(--link-boarder-width),
        var(--link-boarder-width) var(--link-boarder-width),
        var(--link-boarder-width) calc(100% - var(--link-boarder-width)),
        calc(100% - var(--link-boarder-width)) calc(100% - var(--link-boarder-width)),
        calc(100% - var(--link-boarder-width)) 0%, 100% 0%, 100% 100%, 0 100%);
}



@media (max-width:1430px) {
    :root {
        --project-size: 140px;
    }

    .project {
        width: 300px;
        font-size: 0.8em;
    }

    .brand .title {
        font-size: 1.5em !important;
    }
}

/* Performance & Style Optimisations for smaller devices */
@media (max-width:1200px) {
    :root {
        --page-margin: 2em;
        --top-bottom-projects-margin: 4em;
    }

    .brand .title {
        font-size: 1.5em !important;
    }
}

@media (max-width: 1070px) {
    header svg {
        position: relative;
        filter: contrast(0.5) brightness(2) drop-shadow(0px 0px 30px black);
    }

    .projects-wrapper, .projects-wrapper .projects {
        position: relative;
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        flex-wrap: wrap;
    }

    .brand {
        height: auto;
        padding: 3em 0;
    }

    .project {
        margin-bottom: 2em;
    }

    .container {
        overflow-y: auto;
    }

    .background {
        position: fixed;
    }
    .projects-wrapper.top {order: 3;}
    .projects-wrapper.top {order: 4;}
}

@media (max-width:700px) {
    :root {
        --background-ani-color: url('/img/gradient-random.jpg');
    }

    .project {
        width: 100%;
        max-width: 100%;
    }
    a.sitelink {
        font-size: 1rem;
    }

    .project .project-title {
        padding: 0 1.5em;
        width: calc(100% - 3em);
        height: 100%;
    }
    .external-link-border {
        left: calc(1em);
        top: calc(1em);
        height: calc(100% - 2em );
        width: calc(100% - 2em);
    }
}
