---
---
@import "{{ site.theme }}";

a#skip-to-content {
    position: absolute;
    color: #fff;
    background-color: #000a;
    left: auto;
    top: -50em;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border: 4px solid #ffffffaa;
    text-align: center;
    font-size: 1.2em;
    z-index: -999;
    transition: 1s ease all;
}

a#skip-to-content:focus,
a#skip-to-content:active {
    top: 1em;
}

body {
    background: black;
    color: white;
    background: linear-gradient(120deg, hsla(231, 100%, 6%, 0.61), hsla(103, 83%, 10%, 0.45)), url(/img/background-o.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    /* Fix background gradient repeating */
}

.page-header {
    background: transparent;
    a {
        color: var(--page-main-color);
        text-decoration: none;
        transition: 0.2s linear all;
        display: block;
        border: solid 3px rgba(255, 255, 255, 0);

        
        .project-name-short {
            display: none;
        }
        
        .project-name {
            display: block;
        }
        
        .project-name-short,
        .project-name {
            line-height: 1.5em;
            font-size: 2.5em;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            margin: 0;
            color: var(--page-main-color);
        }
        
        .project-tagline {
            margin-bottom: 0;
        }

        &:hover {
            border: solid 3px rgba(255, 255, 255, 0.781);
        }
    }

}



.main-content {
    background: black;
    position: relative;
    margin-bottom: 5rem;
    border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    .summary {
        color: rgb(206, 206, 206);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    code {
        background-color: rgba(255, 255, 255, 0.212);
        color: #fff;
    }
}


/*.main-content:after {
	content: " ";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: black;
}*/

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: var(--page-main-color);
    font-weight: 600;
    text-align: center;
}

h1.title {
    font-size: 3rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: normal;
    /* text-decoration: underline; */
    border-bottom: 4px solid #ffffff4a;
}

main .back {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    font-size: 2em;
    text-align: left;
    text-indent: 0.5em;
    line-height: 2em;
    width: 2em;
    height: 2em;
    font-size: 2em;
    background: black;
    color: white;
    border: none;
}


.video {
    margin: auto;
    width: 400px;
}

@media screen and (max-width: 500px) {
    h1.project-name {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .page-header a h1.project-name-short {
        display: block;
    }
    .page-header a h1.project-name {
        display: none;
    }
}


/*.background-blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/img/background-o.jpg);
	z-index: -1;
	filter: blur(10px) brightness(0.3);
}*/