---
---

@import "system-fonts";
@import "./components.scss";

:root {
    font-family: "system-ui";
    --page-margin: 4em;
    --top-bottom-projects-margin: 8em;
    --project-size: 12em;
}

header {
    flex: 1;
    z-index: 1;
    text-align: center;
    margin: auto;
    /* filter: url(#svg-colored-shadow); */
    z-index: 1;
    order: 2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand {
    min-height: 24em;
    /* animation: bob 10s ease infinite; */
    filter: drop-shadow();

    .title {
        line-height: 1.5em;
        font-size: 2.5em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        background-image: $background-ani-color;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        margin: 0;
    }
    .logo-clip {
        height: 11em;
        width: 5em;
        display: block;
        background-image: $background-ani-color;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        clip-path: url("#logoClip");
    }
    .logo {
        height: 25em;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
        filter: brightness(1.5) drop-shadow(0px 0px 30px black);
    }
    .project-tagline {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 300;
        color: #fff;
        opacity: 0.9;
        font-size: 1.75rem;
        animation: bob;
    }
}

body {
    font-family: "Montserrat", var(--font-family-sans-serif);
    color: white;
    margin: 0;
    width: 100vw;
    /* height: 100vh; */
    background: #424242;
    overflow-x: hidden;
    /* font-family: 'Space Mono', var(--font-family-sans-serif); */
    margin: 0;
}

.container {
    width: calc(100vw - (var(--page-margin) * 2));
    min-height: calc(100vh - (var(--page-margin) * 2));
    background: black;
    padding: var(--page-margin);
    position: absolute;
    margin: 0;
}

.background {
    position: absolute;
    z-index: 0;
    width: calc(100vw - (var(--page-margin) * 2));
    height: calc(100% - (var(--page-margin) * 2));
    filter: sepia(0.5) hue-rotate(130deg);
    box-shadow: 0 0 80px black;
}

.background-blur {
    position: fixed;
    /*z-index: 0;*/
    filter: brightness(0.8) blur(1em);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(1.1);
    background-position: center;
    background-size: cover;
}

@media (max-width: 500px) {
    .background,
    .background-blur {
        background: url("/img/background-mobile-o.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
@media (min-width: 501px) {
    .background,
    .background-blur {
        background: url("/img/background-o.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
.main-video {
    z-index: 2;
    display: flex;
    justify-content: center;
}



footer {
    position: absolute;
    z-index: 1;
    bottom: 1.3em;
    font-size: 1em;
    left: 0;
    width: 100%;
    text-align: center;
    color: #b9d2d2;
}

@keyframes bob {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.projects-wrapper {
    z-index: 2;
    margin: 2rem 0;
    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .project {
    
            /* filter: invert(1); */
     
            &:nth-of-type(1) .box-bg-overlay {
                background-position: top left;
            }
            &:nth-of-type(2) .box-bg-overlay {
                background-position: top center;
            }
            &:nth-of-type(3) .box-bg-overlay {
                background-position: top right;
            }
            &:nth-of-type(4) .box-bg-overlay {
                background-position: bottom left;
            }
            &:nth-of-type(5) .box-bg-overlay {
                background-position: bottom right;
            }
        }
    }
    &.top {
        order: 1;
    }
    &.bottom {
        order: 3;
    }
}

.content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (var(--page-margin) * 2));
}


@media (max-width: 1430px) {
    :root {
        --project-size: 140px;
    }

    .project {
        width: 300px;
        font-size: 0.8em;
    }

    .brand .title {
        font-size: 1.5em !important;
    }
}

/* Performance & Style Optimisations for smaller devices */
@media (max-width: 1200px) {
    :root {
        --page-margin: 2em;
        --top-bottom-projects-margin: 4em;
    }

    .brand .title {
        font-size: 1.5em !important;
    }
}

@media (max-width: 1070px) {
    header svg {
        position: relative;
        filter: contrast(0.5) brightness(2) drop-shadow(0px 0px 30px black);
    }
    .brand .logo {
        height: 20em;
    }

    .brand {
        height: auto;
        padding: 3em 0;
    }

    .container {
        overflow-y: auto;
    }

    .background {
        position: fixed;
    }
    .projects-wrapper.top {
        order: 3;
    }
    .projects-wrapper.top {
        order: 4;
    }
}

@media (max-width: 700px) {
    .logo {
        max-width: 90%;
    }
}
