<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">
  <link rel="icon" href="/img/favicon.ico">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{page.color | default: " #ffeb3b"}}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono|Montserrat:200,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/defualt.css?v={{ site.time | date:'%s' }}">
  <style>
    :root {
      --page-main-color: {{page.color | default: "#ffeb3b"}}

      ;
    }
  </style>
  <script>
    function closeButton() {
      // if (document.referrer.indexOf(location.protocol + "//" + location.host) === 0 && document.referrer!==window.location) {
      //   window.location = document.referrer

      // };
      window.location = "/"
    }
  </script>
</head>

<body>

  <header class="page-header" role="banner">
    <a href="/" title="Go Back to home">
      <h1 class="project-name-short">{{ site.short | default: site.title }}</h1>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </a>
  </header>

  <main id="content" class="main-content" role="main">
    <button class="back" onclick="closeButton()">✖</button>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.type == "project" %}
    <div class="summary"><span class="reading_time">{{ content | reading_time }}</span><span class="date"> {{ page.date
        | date: '%F' }}</span></div>
    {% endif %}
    {{ content }}

    <footer class="site-footer">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner">Copyright &copy; Questionable Research Labs 2020</span>
      {% endif %}
    </footer>
  </main>
  <!-- Instant Page Loading -->
  <script src="//instant.page/1.1.0" type="module"
    integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
</body>

</html>